<div style="background-color:#ebecf0;padding:2rem 0; font-family: Arial, sans-serif !important;">
    <div
        style="margin:0 auto;max-width:600px;text-align:center;padding:0rem 0 1rem 0;background-color:#ffffff;border-radius:33px">
        <img src="https://securepay.weweglobal.io/wewe-logo.png" class="CToWUd"
            style="width: 60%; height: 100px; object-fit: contain;">
       
      
        <div>
            <div style="padding: 3em; background: #f5f5f5; border-radius: 0px; font-size: 15px;">

                <h3>Use this OTP to verify transaction.</h3>

                <br /><br /><br />
                <span
                    style="background: #133c67; color: #fff; padding: 12px; border-radius: 6px;">
                    <b><%= data.password%></b>
                </span>
                <br /><br /><br />

               
            </div>
            
           
            <p style="font-size: 12px;">© 2022 <b>WEWE Global</b>. All rights reserved.</p>
          
          
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>